* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body > h1 {
  margin: 30px;
}

#book-list {
  flex-wrap: wrap;
}

.text-center {
  text-align: center;
}

#book-list .item {
  width: 280px;
  height: 100px;
  border-radius: 10px;
  box-shadow: 0 0 16px -6px black;
  margin: 15px;
}

.d-flex {
  display: flex;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.item .book-image {
  width: 25%;
  height: 100%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  margin-right: 10px;
  object-fit: cover;
  object-position: top;
}

.item .book-info p {
  margin-bottom: 5px;
}

.item .book-info .book-title {
  font-weight: bold;
}
